.footer{
    background-color: #6278f7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
}

.footer .sociais{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.footer p{
    font-size: 1.25rem;
    color: white;
}