.footer{
    background-color: #6278f7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 0;
}

.footer .sociais{
    display: flex;
    gap: 2rem;
    list-style: none;
}

.footer p{
    font-size: 1.25rem;
    color: white;
}

@media screen and (max-width: 450px){
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .footer .sociais{
        display: flex;
        padding-left: 0;
    }
}