.botao{
    background-color: #6278f7;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    
    font-weight: 700;
    font-size: 18px;
    color: white;

    padding: 2rem;
    margin: 2rem 0;
}

.botao:hover{
    background-color: #7c90fc;
    transition: .5s;
}